/* Estilos generales */

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
  
html{
  height: 100%;
}

hr{
  margin:0;
}
  
svg{
  fill: aliceblue;
}

.carousel-caption{
  background-color: rgba(255,255,255,.4);
  border-radius: 20px;
}

/*MOBILE*/
  
.contenedor > * {
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}
  
.contenedor {  
  display:grid;
  gap: 5px;
  column-gap: 10px;
  grid-template:
  "header"  50px
  "main" auto
  "pie" 50px;
}
  
  .ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
  }
  
 
  .navbar{
    display: flex;
    justify-content: center;
  
  }
  
  h1{
    font-size: 1.4rem;
    font-weight: bold;
    text-align:start;
    padding-left: 10px;
    margin: 3px;
  }
  h3{
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  
  .fsd{
    font-family: 'Courgette';
    color:white;
    text-shadow: 1px 1px 2px black;
    font-size:0.8rem;
    text-align: end;
    padding-right: 10px;
  }
  p {
    padding: 15px 5px 0 5px;
    font-size: 0.7rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

  }
  
   /* About */
  
  .datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .datos_li{
    font-size:.7rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  
  /* Skills */
  
  td{
    font-size: 0.2rem;
    text-align:left;
  }
    
  .star{
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Projects */
  
  .proyImg{
    object-fit: cover;
    width:100%;
    height:100%;
    }
    
  #demo{
    margin:auto;
  }
  
  
  /* MAQUETACION TABLET */
  
  @media (min-width:768px){
    .contenedor {  
      display:grid;
      gap: 3px;
      column-gap: 10px;
      grid-template:
      "header main pie" auto / 5em auto 5em;
    }
    
    
    .ul{
      display: flex;
      flex-direction: column;
      height:100%;
      align-items: center;
      justify-content:space-around;  
      
    }
    
    h1{
      font-size: 2rem;
    }
    
    .fsd{
      font-size:1.6rem;
    
    }
    p {
      font-size: 0.8rem;
      font-style: oblique;
      padding: 10px;
    
    }
  
 
    /* About */
   
   .datos{
      align-items: flex-start;
    }

    .datos_li{
      font-size:1rem;
    }
  
  }
  
  /* Skills */
  
   td{
    font-size: .7rem;
    text-align:left;
  }
    
  .star{
    width: .7rem;
    height: .7rem;
  }
 
  /*MAQUETACION DESKTOP*/
  
  @media (min-width:1024px){
   
    
    .ul{
      display: flex;
      flex-direction: column;
      height:100%;
      align-items: center;
      justify-content:space-around;
      margin-bottom: 0;  
      
    }
    
    h1{
      font-size: 3rem;
    }
    
    .fsd{
      font-size:1.6rem;
      font-weight: 400;
    
    }
  
    p {
      font-size: 1rem;
      font-style: oblique;
      padding: 10px;
    
    }
  
    
    /* About */
   
    .datos{
      align-items: flex-start;
    }
    .datos_li{
      font-size:1.2rem;
    }
  /* Skills */
  
  td{
    font-size: 1rem;
    text-align:left;
  }
    
  .star{
    width: 1rem;
    height: 1rem;
  }
}